{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name }} {{ author.last_name }}</h1>
  {{ author.date_of_birth }} -
  {% if author.date_of_death %}
    {{ author.date_of_death }}
  {% else %}
    present
  {% endif %}

  <div style="margin-left:20px;margin-top:20px">
      <p><strong>Books</strong><br></p>
      {% for book in author.book_set.all %}
      <a href="{% url 'book-detail' book.pk %}">{{book}}</a><br>
      {{ book.summary }}
      {% endfor %}
  </div>
{% endblock %}
